<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
    <link rel="stylesheet" href="style/style.css" />
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="VComponent.js"></script>
  </head>
  <body>
    <div id="app">
      <select name="logtype" v-model="sData" @change="log()">
        <option disabled value="">请选择</option>
        <option v-for="item in listOne" :value={a:item.valuet,b:item.valueo}>{{item.label}}</option>
        <!-- <option selected :value={a:13,b:62}>1</option>
        <option selected value="02" value2="222">2</option>
        <option selected value="03" value2="333">3</option>
        <option selected value="04" value2="444">4</option> -->
      </select>
    </div>
    <script>
      new Vue({
        data() {
          return {
            ms: "123",
            sData:"",
            listOne:[
              {label:"AA",valueo:11,valuet:01},
              {label:"BB",valueo:22,valuet:02},
              {label:"CC",valueo:33,valuet:03},
              {label:"DD",valueo:44,valuet:04},
            ]
          };
        },
        methods: {
          log(){
            console.log(this.sData);
          }
        },
      }).$mount("#app");
    </script>
  </body>
</html>
