<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style>
      body {
        border: 5px solid #fff;
        margin: 0;
      }
      .father,
      .child {
        padding: 0.3rem 0.3rem 0.3rem 1rem;
      }
      .father {
        background-color: rgb(180, 60, 84);
        color: #fff;
      }
      .child {
        background-color: darkolivegreen;
        border: 5px solid #fff;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="father">
        <h2>父層</h2>
        <input type="text" v-model="ms" />
        <v-base :put_text="ms"></v-base>
      </div>
    </div>
    <script>
      Vue.component("v-base", {
        props: {
          put_text: String
        },
        data() {
          return {
            num: this.put_text
          };
        },
        template: `
        <div class="child">
          <h2>子層</h2>
          <p>父資料 {{put_text}}</p>
          <div>
           <input type="text" v-model="num"/>
           <p>子資料 {{num}}</p>
          </div>
        </div>`
      });

      new Vue({
        data: {
          ms: "123"
        }
      }).$mount("#app");
    </script>
  </body>
</html>
