<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AboutMe</title>
  <head>
  <meta charset="UTF-8">
  <title>Ben Li Webside</title>
  <link rel="icon" href="../assets/logo.ico" />
  <link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.1/normalize.css">
  <link rel="stylesheet" href="../plugins/element-ui@2.12.0/theme-chalk/index.css">
  <link rel="stylesheet" href="../static/style/index.css">
  <script src="../plugins/jquery-3.4.1.js"></script>
  <script src="../plugins/vue.min.js"></script>
  <script src="../plugins/axios.js"></script>
  <script src="../plugins/element-ui.js"></script>
  <script src="../static/js/main.js"></script>
  <script src="../static/js/router.js"></script>
</head>
</head>
<body>
  <div id="app">
    
    <span>關於我</span>
  </div>
  <script>
    new Vue({
     router
  }).$mount("#app");
  </script>
</body>
</html>