@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol,
ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption,
th,
td {
  text-align: left;
  font-weight: normal; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ""; }

blockquote,
q {
  quotes: "" ""; }

body {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.15px;
  font-family: "Noto Sans TC", sans-serif;
  background-color: #f2f2f2;
  padding: 0;
  margin: 0; }

h1 {
  font-size: 2.5rem;
  margin-bottom: 3rem; }

ul {
  list-style-type: none; }

.o {
  background-color: #b4b4b4; }

.c {
  background-color: #f2f2f2; }

.icon-comment {
  background-color: #ff9317;
  color: #ffffff;
  text-align: center;
  padding: 0rem;
  width: 36px;
  height: 30px;
  border-radius: 0 0 0 5px; }

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

section:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 2.5rem;
  width: 2%;
  background-color: #dadada;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  border-top: 6px solid #ff9317; }
  section:nth-of-type(1):hover {
    width: 17.4%; }

section:nth-of-type(1) ul {
  width: 100%; }

section:nth-of-type(1) ul li:nth-of-type(1) > a:last-child {
  display: none;
  min-width: 150px; }

section:nth-of-type(1):hover ul li:nth-of-type(1) > a:first-child {
  display: none; }

section:nth-of-type(1):hover ul li:nth-of-type(1) > a:last-child {
  width: 100%;
  display: block; }

section:nth-of-type(1) ul li:nth-of-type(2) > a:last-child {
  display: none;
  min-width: 150px; }

section:nth-of-type(1):hover ul li:nth-of-type(2) > a:first-child {
  display: none; }

section:nth-of-type(1):hover ul li:nth-of-type(2) > a:last-child {
  display: block; }

section:nth-of-type(1) a {
  display: block;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  text-align: center;
  width: 100%;
  color: #221e1e;
  height: 2rem;
  line-height: 2rem; }
  section:nth-of-type(1) a:hover {
    width: 100%;
    background-color: #b4b4b4; }

section:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  width: 23%;
  max-width: 280px;
  padding-left: 0.5rem;
  overflow-x: auto;
  background-color: #b4b4b4; }

section:nth-of-type(2) ul {
  margin-top: -5.5rem;
  width: 100%;
  text-align: center; }

section:nth-of-type(2) a {
  color: #221e1e;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  display: block;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all; }
  section:nth-of-type(2) a:hover {
    width: 100%;
    background-color: #f2f2f2; }

section:nth-of-type(3) {
  width: 100%; }

section:nth-of-type(3) > div:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  min-height: 90px; }

section:nth-of-type(3) > div:nth-of-type(2) {
  padding: 0 4rem; }
